body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.nav {
  --bs-breadcrumb-divider: ">";
}

.breadcrumb-item a {
  text-decoration: none;
  color: #5f6d7e;
  font-size: 14px;
}

.breadcrumb-item a:hover {
  color: #437ef7;
}


.btn-outline-secondary {
  color: #272D37;
}

.userSection {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #272D37;
}

.upgrade {
  text-decoration: none;
}



.upContent {
  font-weight: 400;
  color: #5F6D7E;
  font-size: 16px;
}

.graphicTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #272D37;
}

a {
  text-decoration: none;
  color: #5F6D7E;

}

:root {
  --svg-color: black;
}

body.dark-mode {
  --svg-color: white;
}

.svg-icon {
  fill: var(--svg-color);
}


.sidebar_all {
  position: sticky;
  top:0;
  left:0;
  min-width: 83px;
  z-index: 2;
  height: 100vh;
}
.sidebar-list {
  height: 100vh;
}
.sidebar__bottom {
margin-bottom: 32px;
}
.sidebar-list__item {
  padding: 12px;
  cursor: pointer;
}
.canvas-list__item {
  gap: 12px;
  padding: 12px 28px;
  cursor: pointer;
}

.canvas-list__input {
  position: relative;
  margin: 32px 28px;
}

.canvas__title {
  padding: 12px 28px;
  margin-top: 16px;
}

.card-general {
  border: 1px solid #EAEBF0;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px #1018280A;

}

button span {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}